---
id: {{ id }}
title: {{ title }}
type: {{ type }}
status: active
tags:
{%- for tag in tags %}
  - {{ tag }}
{%- endfor %}
created: {{ created }}
updated: {{ updated }}
authors:
{%- for author in authors %}
  - {{ author }}
{%- endfor %}
reference: {{ reference }}
rawSource: raw-sources/{{ fileName }}
---

# {{ title }}

> **TL;DR:** {{ tldr }}

{{ summary }}

## Main Points
{%- for point in mainPoints %}
- {{ point }}
{%- endfor %}
