---
id: {{ id }}
title: {{ title }}
status: active
tags:
{%- for tag in tags %}
  - {{ tag }}
{%- endfor %}
created: {{ created }}
updated: {{ updated }}
authors: {{ authors }}
url: {{ urlOrReference | default('') }}
source: raw-sources/{{ fileName }}
---

# {{ title }}

*Type:* {{ type }}

{{ summary }}

## Main Points
{%- for point in mainPoints %}
- {{ point }}
{%- endfor %}
